/* ===== 전체 ===== */

/* 전라도 메인 페이지로 복귀 */
.jeollaHomeText {
  position: fixed; /* 화면 기준 고정 */
  top: 30px;
  left: 40px;
  z-index: 1000;
}

.jeollaHomeText a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.2s ease;
  color: black;
}

.jeollaHomeText a:hover {
  opacity: 0.6;
}

.kia {
  width: 100%;
  height: 100vh;
}

/* ===== 좌우 레이아웃 ===== */

.kia__layout {
  display: flex;
  height: calc(100% - 60px);
}

/* ===== LEFT ===== */

.kia__logo-area {
  flex: 3;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  background-color: #ffffff;
}

.kia__logo-box {
  width: 250px;
  height: 250px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.kia__logo-box img {
  display: block;
  margin: 0 auto;
}

.kia__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 */
  justify-content: center;
  gap: 40px;

  transform: translateY(-80px); /* 전체 위로 이동 */
}

/* 트로피 이미지 */
.kia_trophy img {
  width: 80%;
  max-width: 320px;
  height: auto;

  transform: translateX(35px);
}

/* ===== RIGHT ===== */

.kia__content {
  flex: 7;
  padding: 60px;

  background-image: url("../../assets/images/kia_stadium.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kia__stadium {
  font-size: 40px;
  margin-bottom: 40px;
}

/* ===== 카드 영역 ===== */

.kia__card {
  padding: 10px;
}

.kia__info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kia__info li {
  font-size: 22px;
  padding: 14px 0;
  color: #ffffff;
}
